@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #8C142A;
    --cor2: #F2BF80;
    --cor3: #BF712C;
    --cor4: #733E1F;
    --cor5: #F2D5C4;

}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial, sans-serif;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

ul{
    margin: 0px;
}
p{
    margin: 0px;
}
h1{
    font-weight: bold;
}
.header{
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logotipo{
    width: 50px;
    height: 50px;
}

.menu{
    display: flex;
    align-items: center;
}
.menu li{
    margin-left: 20px;
}
.menu li a {
    display: block;
    padding: 10px;
}
.menu li a:hover{
    color: var(--cor1);
    background-color: var(--cor2);
    border-radius: 5px;
}
.active{
    color: var(--cor2);
}
.main{
    
    overflow-y: auto;
    margin-top: 200px;
}
.main div{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.main h1{
    color: var(--cor1);
}
.main p{
    text-align: center;
    margin-bottom: 222px;
    

}
.rodape{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 5px;
    width: 100%;
    position: relative;
}